*{
    margin: 0;
    padding: 0;
    }
.body{
  font-family: 'Lato', sans-serif;
}

.container-header{
  width: 96%;
  margin: 0 auto;
}
.logo-image{
  float: left;
  margin-top: 20px;
}
.logo-image img{
  display: flex;
  width: 100px;
}

.logo-mb{
  display: none;
}

.logo-pc{
  display: block;
}

.logo-name{
  padding:35px 10px;
  float: left;
}
.logo-name h2{
  color: #00a650;
  font-size: 32px;
  font-weight: bold;
}

#slidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #00a650;
 right: -200px;
  transition: all 500ms linear;
}

#slidebar.active{
 right: 0px;
}

#slidebar ul li{
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.3);

}

#slidebar ul li:hover{
background: rgb(59, 59, 59);
}

#slidebar ul li a{
  text-decoration: none;
  color: white;

}

#slidebar .toggle-btn{
  display: none;
  position: absolute;
  right: 230px;
  top: 35px;
}

#slidebar .toggle-btn span{
  display: block;
  background:#00a650;
  width: 30px;
  height: 5px;
  margin: 5px 0px;
}

.navigation{
  display: block;
}

.navigation ul{
  display: flex;
  float: right;
  margin-top: 35px;
}

.navigation ul li{
  list-style: none;
  padding: 10px 10px;
}

.navigation ul li:hover{
  border-bottom: 2px solid #00a650;
}

.navigation ul li:link-active{
  border-bottom: 2px solid #00a650;
}

.navigation ul li a{
  color: #00a650;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.banner img{
  width: 100%;
}
.container-main
{
  width: 1000px;
  margin: 0 auto;
}

.chapone{
  margin-top: 50px;
  color: slategray;
  text-align: center;
  font-family: 'Lato', sans-serif;

}

.chapone h2{
font-size: 60px;
font-weight: lighter;
}
.chapone p{
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.chapone-types {
  overflow: hidden;
  margin-bottom: 50px;
}

.chapone-types-left{
  width: 500px;
  height: 577px;
  float: left;
}
.chapone-types-left img{
  width: 100%;
}
.chapone-types-right{
  width: 500px;
  height: 576px;
  float: left;
}

.front-end{
  background-color:#a5e5fe;
  height: 50%;
  color: #414141;
}

.back-end{
  background-color:#3ebeed;
  height: 50%;
  color: #414141;
}

.front-end h2{
  font-size: 32px;
  padding-top: 30px;
}
.front-end p{
  font-size: 18px;
  margin-top: 30px;
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.back-end h2{
  font-size: 32px;
  padding-top: 30px;
}

.back-end p{
  font-size: 18px;
  margin-top: 30px;
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
}

.chapone-types button{
  background-color: #0071bd;
  width: 100px;
  height: 35px;
  color: white;
  border-style: none;
}

.chapone-types button:hover{
  background-color: #e64c26;
}

.content-wrapper{
  margin-bottom: 50px;
}

.chaptwo-wrapper h2{
  font-size: 60px;
  color: slategray;
  text-align: center;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;

}

.portfolio-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
  position: relative;
}
.portfolio-img-background{
  height: 255px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper{
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}


.logo-wrapper img{
  margin-bottom: 20px;
}



.img-text-wrapper .subtitle{
  transition: 1s;
  color: transparent;
}



.img-text-wrapper:hover .subtitle{
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.img-darken{
  transition: 1s;
  filter: brightness(40%);
}

.container-footer{
  padding-left: 20px;
  padding-right: 20px;
  background-color:#1c1c1c;
  overflow: hidden;
}

.links{
  padding: 20px;
}
.tutorials-links{
  padding: 20px;
}

.container-footer li{
  list-style: none;
  color: #f9f9f9;
}

.links{
  float: left;
  padding-right: 50px;
}
.links ul{
  float: left;
  padding-right: 40px;
}

.links li{
  padding: 3px;
}

.links a{
  text-decoration: none;
  color:gray;
  padding-top: 10px;
  font-size: 14px;
}

.links a:hover{
  color: white;
  text-decoration: underline;
  padding-left: 5px;
  transition: 0.2s;
}

.underconstruction img{
  width: 100%;
}

.social-icons img{
  width: 30px;
  height: 30px;
}
.social-icons li{
  float: left;
  padding: 10px;
}


.social-icon-wrapper{
  color: white;
  padding-top: 23px;
}

.fab{
  color: white;
  font-size: 30px;
}

.fab:hover{
  color: #00a650;
}

.fas{
  padding-right: 5px;
}
/* media screen */
@media screen and (max-width:1000px){

  .logo-pc{
    display: none;
}

.logo-mb{
    display: block;
}

.logo-name{
    display: none;
}

#slidebar .toggle-btn{
    display: block;
}

.navigation{
    display: none;
}

  .portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }


  .container-main{
    width: 92%;
    margin: 0 auto;
  }

  .chapone-types-left{
    width: 100%;
  }
.chapone-types-right{
  width: 100%;
}

.logo-image img{
  padding-bottom: 10px;
}
}






















